.vscode/
.idea/
.ruff_cache/
**/__pycache__
**.egg-info

**/builds/
**/build/
**/output/
**/assets/
**/envs/
**/env/
**/venv/
**/*.pth
**/*.bib
**/*.aux
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.synctex.gz
**/*.tar
**/*.dat
**/*.cpk
**/*.ckpt
**/*.nemo
**/*.avi

.coverage
TEST*.xml

nul